<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="../../../assets/icono.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Tienda Don Diego
      </a>
      <ul class="nav navbar-nav" routerLinkActive>
        <li class="nav-item"><a class="nav-link" routerLink="/shopping">Registro de compras</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products">Registro de productos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/buscar-registro">Buscar registros</a></li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary  " (click)="authService.SignOut()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            <app-products-list></app-products-list>
        </div>
        <div class="card-body">
            <app-product></app-product>
        </div>
    </div>
</div>

