<div class="card">
    <div class="card-body">
        <h2>Registrar un producto</h2>
        <br>
        <form #productsForm="ngForm" (ngSubmit)="onSubmit(productsForm)">

            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productsService.selectedProducts.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="code_product" #code_product="ngModel" 
                    [(ngModel)]="productsService.selectedProducts.code_product" placeholder="Código del producto" pattern="[A-Z]{3}[0-9]{3}" required>
                    <br/>
                <label [hidden]="code_product.valid" class="alert alert-danger">El código del producto debe de tener un formato como el siguiente: AAA000</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="description_product" #description_product="ngModel" 
                    [(ngModel)]="productsService.selectedProducts.description_product" placeholder="Descripción del producto" minlength="1" required>
                    <br/>
                <label [hidden]="description_product.valid" class="alert alert-danger">El campo no debe de estar vacio.</label>
            </div>

            <div class="form-group">
                <input type="number" class="form-control" name="price" #price="ngModel" 
                    [(ngModel)]="productsService.selectedProducts.price" placeholder="Precio del producto" min="0" required>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!productsForm.valid" type="submit">
                    <i class="fas fa-plus-circle"></i> Agregar/Modificar producto
                </button>&nbsp;
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productsForm)">
                    <i class="fas fa-sync-alt"></i> Limpiar el formulario
                </button>
            </div>

        </form>

    </div>
</div>
