<div class="card d-flex justify-content-center">
    <div class="card-body">
        
        <h2>Registro de productos</h2>

        <table class="table table-responsive table-hover"> 
            <thead>
                <tr>
                    <td>ID del registro</td>
                    <td>Código del producto</td>
                    <td>Descripción del producto</td>
                    <td>Precio del producto</td>
                    <td>Acciones sobre el registro</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let products of productsList">
                    <td>{{products.$key}}</td>
                    <td>{{products.code_product}}</td>
                    <td>{{products.description_product}}</td>
                    <td>{{products.price}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(products)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(products.$key)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
