<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

      <form (ngSubmit)="authService.SignUp(userEmail.value, userPwd.value)" class="login-form">
        <h1>Sign up</h1>

        <div class="txtb form-group">
          <input type="text" class="form-control" placeholder="Email Address" #userEmail required >
        </div>

        <div class="txtb form-group">
          <input type="password" class="form-control" placeholder="Password" #userPwd required>
        </div>

        <input type="submit" class="logbtn" value="Sign up">


        <div class="bottom-text redirectToLogin">
          Already have an account? <a routerLink="/sign-in">Log In</a>
        </div>


      </form>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>


  </body>
</html>




