

<div class="contenido"> 

  <div class="row d-flex justify-content-center ">
    <div class="col-6">
      <div class="jumbotron">

        <h1 class="display-4 text-center">Gracias por registrarse</h1>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Nosotros te hemos enviado un correo de confirmación <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Por favor ve a tu cuenta de correo y da clic en el enlace para verificar tu dirección de correo.</p>
        </div>

        <hr class="my-2">

          <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            <strong class="ml-2">Reenviar correo de verificación</strong> 
          </button>
        </div>

        <hr class="my-2">


        <div class="bottom-text redirectToLogin">
          ¿Ir de regreso? <a routerLink="/register-user">Registrarse</a>
        </div>

      </div>

    </div>

  </div>

</div>