<div class="card">
    <div class="card-body">
        
        <h2>Registrar una compra</h2>
        <br>

        <form #shoppingForm="ngForm" (ngSubmit)="onSubmit(shoppingForm)">

            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="shoppingService.selectedShopping.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="name_client" #name_client="ngModel" 
                    [(ngModel)]="shoppingService.selectedShopping.name_client" placeholder="Nombre del cliente" minlength="1" required>
                    <br/>
                    <label [hidden]="name_client.valid" class="alert alert-danger">El campo no debe de estar vacio.</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="dui_client" #dui_client="ngModel" 
                    [(ngModel)]="shoppingService.selectedShopping.dui_client" placeholder="Dui del cliente" (change)="cambio()" pattern="[0-9]{8}-[0-9]{1}" required>
                    <br/>
                    <label [hidden]="dui_client.valid" class="alert alert-danger">El dui debe tener el siguiente formato: ########-#.</label>
            </div>

            <!--div class="form-group">
                <input type="text" class="form-control" name="code_product" #code_product="ngModel" 
                    [(ngModel)]="shoppingService.selectedShopping.code_product" placeholder="Código del producto">
            </div-->

            <!--div class="form-group">
                <input type="text" class="form-control" name="description_product" #description_product="ngModel" 
                    [(ngModel)]="shoppingService.selectedShopping.description_product" placeholder="Descripción del producto">
            </div-->
            
            <input type="hidden" name="code_product" #code_product="ngModel" [(ngModel)]="shoppingService.selectedShopping.code_product">

            <div class="form-group">
                <select class="form-control" id="description_product" name="description_product" #description_product="ngModel" [(ngModel)]="shoppingService.selectedShopping.description_product" (change)="cambio()" required> 
                    <option *ngFor="let products of productsList" [value]="products.description_product">{{products.description_product}}</option>
                </select>
                <br/>
                <label [hidden]="description_product.valid" class="alert alert-danger">Debe de seleccionar un producto.</label>
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" name="price" #price="ngModel" 
                    [(ngModel)]="shoppingService.selectedShopping.price" placeholder="Precio (Incluye las ofertas)" readonly required>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!shoppingForm.valid">
                    <i class="fas fa-plus-circle"></i> Agregar/Modificar registro de compra
                </button> &nbsp;
                <button class="btn btn-secondary" type="reset" (click)="resetForm(shoppingForm)">
                    <i class="fas fa-sync-alt"></i> Limpiar el formulario
                </button>
            </div>

        </form>

    </div>
</div>
